//set the bootstrap variant colors before we import react-bootstrap
$primary: #463730;
$secondary: #1F5673;
$danger: #EE4266;
// #FFD23F sunglow
// #3BCEAC caribbean green
@import '~bootstrap/scss/bootstrap';
